.grid-container {
    row-gap: 38px;
}

figure {
    text-align: center;
}

.promoPicture {
    border: 3px solid #562F96;
    background-color: black;
    width: 827px;
    height: 506px;
    border-radius: 21px;
    grid-row: 2;
    grid-column: 4;
}

.promoPicture img {
    width: auto;
    height: auto;
    max-width: 820px;
    max-height: 500px;
}

h1 {
    width: 600px;
    grid-row: 2;
    margin-top: 150px;
    grid-column: 3 / 5;
    font-family: sans-serif;
    position: relative;
    left: 120px;
    font-size: 75px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#getYours {
    grid-row: 3;
    grid-column: 3 / 4;
    top: -200px;
    left: 100px;
    padding: 10px 10px 10px 10px;
    position: relative;
    font-family: sans-serif;
    font-size: 36px;
    color: gray;
}

#getYours > a {
    border: solid 1px #562F96;
    text-decoration: none;
    color: gray;
    padding: 10px 40px 10px 10px;
}

#ticket {
    height: 32px;
    position: relative;
    top: 4px;
}