_root


.navBar { 
    grid-row: 1;
    grid-column: 2 / 8;
    margin-top: -1px;
    background-color: white;
}

.apps { 
    grid-row: 1;
    grid-column: 8;
    margin-top: -1px;
    background-color: white;
}

.apps h2 {
    font-size: 18px;
    font-family: sans-serif;
    color: #6C6C6C;
    top: 40px;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navBar a {
    font-size: 40px;
    font-family: sans-serif;
    color: #6C6C6C;
    top: 40px;
    margin-left: 20px;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    grid-row: 1;
    grid-column: 1;
    padding-top: 12px;
    margin-top: -1px;
}

.logo #image {
    width: auto; 
    height: auto;
    max-width: 230px;
    max-height: 73px;
}

.promoPicture {
    border: 3px solid #562F96;
    background-color: black;
    width: 827px;
    height: 506px;
    border-radius: 21px;
    grid-row: 2;
    grid-column: 6;
}

.promoPicture #image {
    width: auto; 
    height: auto;
    max-width: 820px;
    max-height: 500px;
}

.tourPicture {
    background-color: black;
    width: 827px;
    height: 506px;
    margin-left: auto;
    margin-right: auto;
}

.tourPicture #image {
    margin-left: auto;
    margin-right: auto;
    width: auto; 
    height: auto;
    max-width: 820px;
    max-height: 500px;
}

.tourPicture h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 75px;
    color: white;
}

table {
	display: table;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

table tr{
	display: table-cell;
}
table tr td{
	display: block;
    
}

.tourTable {
    font-size: 36px;
    color:#6C6C6C;
    font-family: sans-serif;
    line-height: 200%;
}


.place td {
    text-align: center;
}

.tickets td > a{
    display: inline-block;
    background-color: #562F96;
    width: 100%;
    color:white;
    text-align: center;
    text-decoration: none;
}


.grid-container {
  display: grid;
  grid-template-areas: auto auto auto auto auto auto auto auto;
  row-gap: 38px;
}

.grid-container > div {
    padding-left: 26px;
    border-bottom: 1px solid #562F96;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(142, 22, 162, 0.25);
}

.grid-container > figure{
    text-align: center;
}


body {
    margin: 0;
    background-image: url("jennieBG.png");
    background-color: #cccccc;
}


